<html>
<body>
	 <form action='refresh' method='GET'>
		<button type='submit'>Refresh</button>
	</form>
	<div >
		<h2>
	    	<p>Projects</p>
	    </h2>
	</div>
	{% block content %}
        {% for project in projects %}
            <div >
                
                <h1><a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a></h1>
                
            </div>
        {% endfor %}
    {% endblock %}
    <div>
    	<p>No of Open Issues: {{ open_issues}}</p>
    </div>
    <div>
        <p>No of Issues labeled as doing: {{ labbeled_issues}}</p>
    </div>
    <div>
    	<p>No of Previous Day Commits: {{ commits}}</p>
    </div>
</body>
</html>