<html>
<body>
   
    <div>
        <h2>
           <p> PROJECTS </p>
        </h2>
    </div>
    <div>
        <h2>
            {{ project.name}}
        </h2>
    </div>
	
    <div>
    	<p>No of Open Issues: {{ open_issues }}</p>
    </div>
    <div>
    	<p>No of Issues labeled as doing:  {{ labbeled_issues }}</p>
    </div>
    <div>
        Prevoius Day Commits
    </div>
        {% block content %}
        {% for commit in commits %}
            <div class="date">
                <p>1: {{ commit.title }}</p>
            </div>
        {% endfor %}
    {% endblock %} 
</body>
</html>