<html>
<body>
    {% block body_block %}
		<div class="container">
		    <div class="jumbotron">
		      <h1>Signup here :</h1>
				<form method="post" >
				          {% csrf_token %}
				          {# A more "HTML" way of creating the login form#}
				          <label for="username">Gitlab Username:</label>
				          <input type="text" name="username" placeholder="Username" required>
				<label for="password">Gitlab Password:</label>
				          <input type="password" name="password" placeholder="Password" required>
				<label for="email">Email:</label>
				          <input type="text" name="email" placeholder="name@gmail.com" required>
				<input type="submit" name="" value="Signup">
				</form>
			</div>
		 </div>
	{% endblock %}
</body>
</html>
